In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

Dado el dataset data que tiene como columnas

A de tipo numérico entre 0 y 100

B de tipo numérico que representa un timestamp

In [2]:
# creamos data:

from datetime import datetime as dt 

one_year = pd.DateOffset(years=1)

max_b = dt.now()

max_b_timestamp = dt.timestamp(max_b)

min_b = max_b - one_year

min_b_timestamp = dt.timestamp(min_b)

#print(min_b_timestamp)

#print(max_b_timestamp)

seconds_in_one_year = max_b_timestamp - min_b_timestamp

seconds_in_one_year == 60 * 60 * 24 * 366 # 2020 fue bisiesto

rng = np.random.default_rng()

a_values = rng.integers(low = 0, high = 100, size = 30)

b_values = rng.integers(low = min_b_timestamp, high = max_b_timestamp, size = 30)

data = pd.DataFrame({'A':a_values, 'B': b_values})
data.head(5)

    A           B
0  72  1603145872
1  62  1620239852
2  98  1618560427
3  83  1627457777
4  73  1616937445

Ejercicio 1
Agregar al dataset una columna C, de tipo categórica, definida en base a los valores de A, con las categorías asociadas a los intervalos de límites 0, 30, 40, 50, 60, 100, y con etiquetas 'muy poco', 'poco', 'normal', 'mucho', 'demasiado'

Ejercicio 2
Convertir la variable categórica creada C, en variables dummies y crear un nuevo dataset data_with_dummies que resulte de combinar los datos de data con las variables dummies

Ejercicio 3
Convertir la variable B en tipo datetime, y luego en un string con este formato '2021-02-22' donde representamos el año con 4 dígitos, el mes con 2, y el día con 2.

Crear la columna D con el resultado de convertir la variable B en string.

Sugerencia:

Pueden consultar la documentacion https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

In [3]:
data.head(3)

    A           B
0  72  1603145872
1  62  1620239852
2  98  1618560427

In [4]:
c = pd.cut(data.A, bins=[-0.1,30,40,50,60,100], labels = ['muy poco', 'poco', 'normal', 'mucho', 'demasiado'])
c

0     demasiado
1     demasiado
2     demasiado
3     demasiado
4     demasiado
5          poco
6     demasiado
7        normal
8     demasiado
9        normal
10    demasiado
11    demasiado
12     muy poco
13     muy poco
14    demasiado
15    demasiado
16        mucho
17     muy poco
18    demasiado
19    demasiado
20         poco
21         poco
22       normal
23       normal
24    demasiado
25     muy poco
26        mucho
27     muy poco
28       normal
29    demasiado
Name: A, dtype: category
Categories (5, object): ['muy poco' < 'poco' < 'normal' < 'mucho' < 'demasiado']

In [5]:
data['C'] = c
data.head(3)

    A           B          C
0  72  1603145872  demasiado
1  62  1620239852  demasiado
2  98  1618560427  demasiado

In [6]:
dummie=pd.get_dummies(data.C, drop_first = True, prefix = 'C')

In [7]:
data.head(3)

    A           B          C
0  72  1603145872  demasiado
1  62  1620239852  demasiado
2  98  1618560427  demasiado

In [8]:
data_with_dummies = pd.concat([data, dummie], axis=1)

In [9]:
data_with_dummies

     A           B          C  C_poco  C_normal  C_mucho  C_demasiado
0   72  1603145872  demasiado       0         0        0            1
1   62  1620239852  demasiado       0         0        0            1
2   98  1618560427  demasiado       0         0        0            1
3   83  1627457777  demasiado       0         0        0            1
4   73  1616937445  demasiado       0         0        0            1
5   36  1615920139       poco       1         0        0            0
6   84  1624779873  demasiado       0         0        0            1
7   41  1606313140     normal       0         1        0            0
8   83  1622938931  demasiado       0         0        0            1
9   42  1624186063     normal       0         1        0            0
10  67  1622413018  demasiado       0         0        0            1
11  71  1611842655  demasiado       0         0        0            1
12  30  1604709991   muy poco       0         0        0            0
13   4  1613644070   muy poco       0         0        0            0
14  68  1613705880  demasiado       0         0        0            1
15  93  1614740846  demasiado       0         0        0            1
16  54  1617061471      mucho       0         0        1            0
17   5  1622730869   muy poco       0         0        0            0
18  78  1624533314  demasiado       0         0        0            1
19  84  1602086690  demasiado       0         0        0            1
20  35  1623022356       poco       1         0        0            0
21  39  1609694273       poco       1         0        0            0
22  48  1603214589     normal       0         1        0            0
23  44  1623450926     normal       0         1        0            0
24  79  1623792512  demasiado       0         0        0            1
25  29  1605394338   muy poco       0         0        0            0
26  54  1621310725      mucho       0         0        1            0
27  27  1613953641   muy poco       0         0        0            0
28  45  1606309197     normal       0         1        0            0
29  78  1620632767  demasiado       0         0        0            1

In [10]:
data['B']=pd.to_datetime(data.B, unit='s')

In [11]:
data["D"] = data.B.apply(lambda x: x.strftime('%Y-%m-%d'))

In [12]:
data_with_dummies['D']=data["D"]

In [13]:
data_with_dummies.sample(25).reset_index(drop=True)

,A,B,C,C_poco,C_normal,C_mucho,C_demasiado,D
0,4,1613644070,muy poco,0,0,0,0,2021-02-18
1,67,1622413018,demasiado,0,0,0,1,2021-05-30
2,45,1606309197,normal,0,1,0,0,2020-11-25
3,78,1620632767,demasiado,0,0,0,1,2021-05-10
4,93,1614740846,demasiado,0,0,0,1,2021-03-03
5,5,1622730869,muy poco,0,0,0,0,2021-06-03
6,27,1613953641,muy poco,0,0,0,0,2021-02-22
7,54,1621310725,mucho,0,0,1,0,2021-05-18
8,68,1613705880,demasiado,0,0,0,1,2021-02-19
9,35,1623022356,poco,1,0,0,0,2021-06-06
10,83,1622938931,demasiado,0,0,0,1,2021-06-06
11,30,1604709991,muy poco,0,0,0,0,2020-11-07
12,84,1602086690,demasiado,0,0,0,1,2020-10-07
13,78,1624533314,demasiado,0,0,0,1,2021-06-24
14,36,1615920139,poco,1,0,0,0,2021-03-16
15,98,1618560427,demasiado,0,0,0,1,2021-04-16
16,73,1616937445,demasiado,0,0,0,1,2021-03-28
17,54,1617061471,mucho,0,0,1,0,2021-03-29
18,83,1627457777,demasiado,0,0,0,1,2021-07-28
19,29,1605394338,muy poco,0,0,0,0,2020-11-14
20,48,1603214589,normal,0,1,0,0,2020-10-20
21,79,1623792512,demasiado,0,0,0,1,2021-06-15
22,72,1603145872,demasiado,0,0,0,1,2020-10-19
23,44,1623450926,normal,0,1,0,0,2021-06-11
24,39,1609694273,poco,1,0,0,0,2021-01-03